examples/godaddy.json
[{"id":"7b4b0d5f459a6890","type":"function","z":"764e6ade7c4e2508","name":"get sso_key","func":"msg.sso_key = global.get('SSO_KEY')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[["7123e203577a3344"]]},{"id":"70a803f630451ed7","type":"inject","z":"764e6ade7c4e2508","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":200,"wires":[["7b4b0d5f459a6890"]]},{"id":"7123e203577a3344","type":"godaddy","z":"764e6ade7c4e2508","name":"","container":"","environment":"Operational Test and Evaluation","openApiUrl":"https://developer.godaddy.com/swagger/swagger_domains.json","propagate":true,"api":"v1","operation":"list","operationData":{"tags":["v1"],"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/javascript","application/xml","text/javascript","text/xml"],"parameters":[{"description":"Shopper ID whose domains are to be retrieved","in":"header","name":"X-Shopper-Id","required":false,"type":"string"},{"description":"Only include results with `status` value in the specified set","in":"query","items":{"enum":["ACTIVE","AWAITING_CLAIM_ACK","AWAITING_DOCUMENT_AFTER_TRANSFER","AWAITING_DOCUMENT_AFTER_UPDATE_ACCOUNT","AWAITING_DOCUMENT_UPLOAD","AWAITING_FAILED_TRANSFER_WHOIS_PRIVACY","AWAITING_PAYMENT","AWAITING_RENEWAL_TRANSFER_IN_COMPLETE","AWAITING_TRANSFER_IN_ACK","AWAITING_TRANSFER_IN_AUTH","AWAITING_TRANSFER_IN_AUTO","AWAITING_TRANSFER_IN_WHOIS","AWAITING_TRANSFER_IN_WHOIS_FIX","AWAITING_VERIFICATION_ICANN","AWAITING_VERIFICATION_ICANN_MANUAL","CANCELLED","CANCELLED_HELD","CANCELLED_REDEEMABLE","CANCELLED_TRANSFER","CONFISCATED","DISABLED_SPECIAL","EXCLUDED_INVALID_CLAIM_FIREHOSE","EXPIRED_REASSIGNED","FAILED_BACKORDER_CAPTURE","FAILED_DROP_IMMEDIATE_THEN_ADD","FAILED_PRE_REGISTRATION","FAILED_REDEMPTION","FAILED_REDEMPTION_REPORT","FAILED_REGISTRATION","FAILED_REGISTRATION_FIREHOSE","FAILED_RESTORATION_REDEMPTION_MOCK","FAILED_SETUP","FAILED_TRANSFER_IN","FAILED_TRANSFER_IN_BAD_STATUS","FAILED_TRANSFER_IN_REGISTRY","HELD_COURT_ORDERED","HELD_DISPUTED","HELD_EXPIRATION_PROTECTION","HELD_EXPIRED_REDEMPTION_MOCK","HELD_REGISTRAR_ADD","HELD_REGISTRAR_REMOVE","HELD_SHOPPER","HELD_TEMPORARY","LOCKED_ABUSE","LOCKED_COPYRIGHT","LOCKED_REGISTRY","LOCKED_SUPER","PARKED_AND_HELD","PARKED_EXPIRED","PARKED_VERIFICATION_ICANN","PENDING_ABORT_CANCEL_SETUP","PENDING_AGREEMENT_PRE_REGISTRATION","PENDING_APPLY_RENEWAL_CREDITS","PENDING_BACKORDER_CAPTURE","PENDING_BLOCKED_REGISTRY","PENDING_CANCEL_REGISTRANT_PROFILE","PENDING_COMPLETE_REDEMPTION_WITHOUT_RECEIPT","PENDING_COMPLETE_REGISTRANT_PROFILE","PENDING_COO","PENDING_COO_COMPLETE","PENDING_DNS","PENDING_DNS_ACTIVE","PENDING_DNS_INACTIVE","PENDING_DOCUMENT_VALIDATION","PENDING_DOCUMENT_VERIFICATION","PENDING_DROP_IMMEDIATE","PENDING_DROP_IMMEDIATE_THEN_ADD","PENDING_EPP_CREATE","PENDING_EPP_DELETE","PENDING_EPP_UPDATE","PENDING_ESCALATION_REGISTRY","PENDING_EXPIRATION","PENDING_EXPIRATION_RESPONSE","PENDING_EXPIRATION_SYNC","PENDING_EXPIRED_REASSIGNMENT","PENDING_EXPIRE_AUTO_ADD","PENDING_EXTEND_REGISTRANT_PROFILE","PENDING_FAILED_COO","PENDING_FAILED_EPP_CREATE","PENDING_FAILED_HELD","PENDING_FAILED_PURCHASE_PREMIUM","PENDING_FAILED_RECONCILE_FIREHOSE","PENDING_FAILED_REDEMPTION_WITHOUT_RECEIPT","PENDING_FAILED_RELEASE_PREMIUM","PENDING_FAILED_RENEW_EXPIRATION_PROTECTION","PENDING_FAILED_RESERVE_PREMIUM","PENDING_FAILED_SUBMIT_FIREHOSE","PENDING_FAILED_TRANSFER_ACK_PREMIUM","PENDING_FAILED_TRANSFER_IN_ACK_PREMIUM","PENDING_FAILED_TRANSFER_IN_PREMIUM","PENDING_FAILED_TRANSFER_PREMIUM","PENDING_FAILED_TRANSFER_SUBMIT_PREMIUM","PENDING_FAILED_UNLOCK_PREMIUM","PENDING_FAILED_UPDATE_API","PENDING_FRAUD_VERIFICATION","PENDING_FRAUD_VERIFIED","PENDING_GET_CONTACTS","PENDING_GET_HOSTS","PENDING_GET_NAME_SERVERS","PENDING_GET_STATUS","PENDING_HOLD_ESCROW","PENDING_HOLD_REDEMPTION","PENDING_LOCK_CLIENT_REMOVE","PENDING_LOCK_DATA_QUALITY","PENDING_LOCK_THEN_HOLD_REDEMPTION","PENDING_PARKING_DETERMINATION","PENDING_PARK_INVALID_WHOIS","PENDING_PARK_INVALID_WHOIS_REMOVAL","PENDING_PURCHASE_PREMIUM","PENDING_RECONCILE","PENDING_RECONCILE_FIREHOSE","PENDING_REDEMPTION","PENDING_REDEMPTION_REPORT","PENDING_REDEMPTION_REPORT_COMPLETE","PENDING_REDEMPTION_REPORT_SUBMITTED","PENDING_REDEMPTION_WITHOUT_RECEIPT","PENDING_REDEMPTION_WITHOUT_RECEIPT_MOCK","PENDING_RELEASE_PREMIUM","PENDING_REMOVAL","PENDING_REMOVAL_HELD","PENDING_REMOVAL_PARKED","PENDING_REMOVAL_UNPARK","PENDING_RENEWAL","PENDING_RENEW_EXPIRATION_PROTECTION","PENDING_RENEW_INFINITE","PENDING_RENEW_LOCKED","PENDING_RENEW_WITHOUT_RECEIPT","PENDING_REPORT_REDEMPTION_WITHOUT_RECEIPT","PENDING_RESERVE_PREMIUM","PENDING_RESET_VERIFICATION_ICANN","PENDING_RESPONSE_FIREHOSE","PENDING_RESTORATION","PENDING_RESTORATION_INACTIVE","PENDING_RESTORATION_REDEMPTION_MOCK","PENDING_RETRY_EPP_CREATE","PENDING_RETRY_HELD","PENDING_SEND_AUTH_CODE","PENDING_SETUP","PENDING_SETUP_ABANDON","PENDING_SETUP_AGREEMENT_LANDRUSH","PENDING_SETUP_AGREEMENT_SUNRISE2_A","PENDING_SETUP_AGREEMENT_SUNRISE2_B","PENDING_SETUP_AGREEMENT_SUNRISE2_C","PENDING_SETUP_AUTH","PENDING_SETUP_DNS","PENDING_SETUP_FAILED","PENDING_SETUP_REVIEW","PENDING_SETUP_SUNRISE","PENDING_SETUP_SUNRISE_PRE","PENDING_SETUP_SUNRISE_RESPONSE","PENDING_SUBMIT_FAILURE","PENDING_SUBMIT_FIREHOSE","PENDING_SUBMIT_HOLD_FIREHOSE","PENDING_SUBMIT_HOLD_LANDRUSH","PENDING_SUBMIT_HOLD_SUNRISE","PENDING_SUBMIT_LANDRUSH","PENDING_SUBMIT_RESPONSE_FIREHOSE","PENDING_SUBMIT_RESPONSE_LANDRUSH","PENDING_SUBMIT_RESPONSE_SUNRISE","PENDING_SUBMIT_SUCCESS_FIREHOSE","PENDING_SUBMIT_SUCCESS_LANDRUSH","PENDING_SUBMIT_SUCCESS_SUNRISE","PENDING_SUBMIT_SUNRISE","PENDING_SUBMIT_WAITING_LANDRUSH","PENDING_SUCCESS_PRE_REGISTRATION","PENDING_SUSPENDED_DATA_QUALITY","PENDING_TRANSFER_ACK_PREMIUM","PENDING_TRANSFER_IN","PENDING_TRANSFER_IN_ACK","PENDING_TRANSFER_IN_ACK_PREMIUM","PENDING_TRANSFER_IN_BAD_REGISTRANT","PENDING_TRANSFER_IN_CANCEL","PENDING_TRANSFER_IN_CANCEL_REGISTRY","PENDING_TRANSFER_IN_COMPLETE_ACK","PENDING_TRANSFER_IN_DELETE","PENDING_TRANSFER_IN_LOCK","PENDING_TRANSFER_IN_NACK","PENDING_TRANSFER_IN_NOTIFICATION","PENDING_TRANSFER_IN_PREMIUM","PENDING_TRANSFER_IN_RELEASE","PENDING_TRANSFER_IN_RESPONSE","PENDING_TRANSFER_IN_UNDERAGE","PENDING_TRANSFER_OUT","PENDING_TRANSFER_OUT_ACK","PENDING_TRANSFER_OUT_NACK","PENDING_TRANSFER_OUT_PREMIUM","PENDING_TRANSFER_OUT_UNDERAGE","PENDING_TRANSFER_OUT_VALIDATION","PENDING_TRANSFER_PREMIUM","PENDING_TRANSFER_PREMUIM","PENDING_TRANSFER_SUBMIT_PREMIUM","PENDING_UNLOCK_DATA_QUALITY","PENDING_UNLOCK_PREMIUM","PENDING_UPDATE","PENDING_UPDATED_REGISTRANT_DATA_QUALITY","PENDING_UPDATE_ACCOUNT","PENDING_UPDATE_API","PENDING_UPDATE_API_RESPONSE","PENDING_UPDATE_AUTH","PENDING_UPDATE_CONTACTS","PENDING_UPDATE_CONTACTS_PRIVACY","PENDING_UPDATE_DNS","PENDING_UPDATE_DNS_SECURITY","PENDING_UPDATE_ELIGIBILITY","PENDING_UPDATE_EPP_CONTACTS","PENDING_UPDATE_MEMBERSHIP","PENDING_UPDATE_OWNERSHIP","PENDING_UPDATE_OWNERSHIP_AUTH_AUCTION","PENDING_UPDATE_OWNERSHIP_HELD","PENDING_UPDATE_REGISTRANT","PENDING_UPDATE_REPO","PENDING_VALIDATION_DATA_QUALITY","PENDING_VERIFICATION_FRAUD","PENDING_VERIFICATION_STATUS","PENDING_VERIFY_REGISTRANT_DATA_QUALITY","RESERVED","RESERVED_PREMIUM","REVERTED","SUSPENDED_VERIFICATION_ICANN","TRANSFERRED_OUT","UNLOCKED_ABUSE","UNLOCKED_SUPER","UNPARKED_AND_UNHELD","UPDATED_OWNERSHIP","UPDATED_OWNERSHIP_HELD"],"type":"string"},"name":"statuses","required":false,"type":"array"},{"description":"Only include results with `status` value in any of the specified groups","in":"query","items":{"enum":["INACTIVE","PRE_REGISTRATION","REDEMPTION","RENEWABLE","VERIFICATION_ICANN","VISIBLE"],"type":"string"},"name":"statusGroups","required":false,"type":"array"},{"description":"Maximum number of domains to return","in":"query","maximum":1000,"minimum":1,"name":"limit","required":false,"type":"integer"},{"description":"Marker Domain to use as the offset in results","in":"query","name":"marker","required":false,"type":"string"},{"description":"Optional details to be included in the response","in":"query","items":{"enum":["authCode","contacts","nameServers"],"type":"string"},"name":"includes","required":false,"type":"array"},{"description":"Only include results that have been modified since the specified date","format":"iso-datetime","in":"query","name":"modifiedDate","required":false,"type":"string"}],"responses":{"200":{"description":"Request was successful","schema":{"items":{"properties":{"authCode":{"description":"Authorization code for transferring the Domain","type":"string"},"contactAdmin":{"properties":{"addressMailing":{"properties":{"address1":{"format":"street-address","type":"string"},"address2":{"format":"street-address2","type":"string"},"city":{"format":"city-name","type":"string"},"country":{"default":"US","description":"Two-letter ISO country code to be used as a hint for target region<br/><br/>\nNOTE: These are sample values, there are many\n<a href='http://www.iso.org/iso/country_codes.htm'>more</a>","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BM","BN","BO","BQ","BR","BS","BT","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CV","CW","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KR","KV","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SE","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","ST","SV","SX","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","ZA","ZM","ZW"],"format":"iso-country-code","type":"string"},"postalCode":{"description":"Postal or zip code","format":"postal-code","type":"string"},"state":{"description":"State or province or territory","format":"state-province-territory","type":"string"}},"required":["address1","city","state","postalCode","country"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Address"},"email":{"format":"email","type":"string"},"fax":{"format":"phone","type":"string"},"jobTitle":{"type":"string"},"nameFirst":{"format":"person-name","type":"string"},"nameLast":{"format":"person-name","type":"string"},"nameMiddle":{"type":"string"},"organization":{"format":"organization-name","type":"string"},"phone":{"format":"phone","type":"string"}},"required":["nameFirst","nameLast","email","phone","addressMailing"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Contact"},"contactBilling":{"properties":{"addressMailing":{"properties":{"address1":{"format":"street-address","type":"string"},"address2":{"format":"street-address2","type":"string"},"city":{"format":"city-name","type":"string"},"country":{"default":"US","description":"Two-letter ISO country code to be used as a hint for target region<br/><br/>\nNOTE: These are sample values, there are many\n<a href='http://www.iso.org/iso/country_codes.htm'>more</a>","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BM","BN","BO","BQ","BR","BS","BT","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CV","CW","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KR","KV","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SE","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","ST","SV","SX","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","ZA","ZM","ZW"],"format":"iso-country-code","type":"string"},"postalCode":{"description":"Postal or zip code","format":"postal-code","type":"string"},"state":{"description":"State or province or territory","format":"state-province-territory","type":"string"}},"required":["address1","city","state","postalCode","country"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Address"},"email":{"format":"email","type":"string"},"fax":{"format":"phone","type":"string"},"jobTitle":{"type":"string"},"nameFirst":{"format":"person-name","type":"string"},"nameLast":{"format":"person-name","type":"string"},"nameMiddle":{"type":"string"},"organization":{"format":"organization-name","type":"string"},"phone":{"format":"phone","type":"string"}},"required":["nameFirst","nameLast","email","phone","addressMailing"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Contact"},"contactRegistrant":{"properties":{"addressMailing":{"properties":{"address1":{"format":"street-address","type":"string"},"address2":{"format":"street-address2","type":"string"},"city":{"format":"city-name","type":"string"},"country":{"default":"US","description":"Two-letter ISO country code to be used as a hint for target region<br/><br/>\nNOTE: These are sample values, there are many\n<a href='http://www.iso.org/iso/country_codes.htm'>more</a>","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BM","BN","BO","BQ","BR","BS","BT","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CV","CW","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KR","KV","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SE","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","ST","SV","SX","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","ZA","ZM","ZW"],"format":"iso-country-code","type":"string"},"postalCode":{"description":"Postal or zip code","format":"postal-code","type":"string"},"state":{"description":"State or province or territory","format":"state-province-territory","type":"string"}},"required":["address1","city","state","postalCode","country"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Address"},"email":{"format":"email","type":"string"},"fax":{"format":"phone","type":"string"},"jobTitle":{"type":"string"},"nameFirst":{"format":"person-name","type":"string"},"nameLast":{"format":"person-name","type":"string"},"nameMiddle":{"type":"string"},"organization":{"format":"organization-name","type":"string"},"phone":{"format":"phone","type":"string"}},"required":["nameFirst","nameLast","email","phone","addressMailing"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Contact"},"contactTech":{"properties":{"addressMailing":{"properties":{"address1":{"format":"street-address","type":"string"},"address2":{"format":"street-address2","type":"string"},"city":{"format":"city-name","type":"string"},"country":{"default":"US","description":"Two-letter ISO country code to be used as a hint for target region<br/><br/>\nNOTE: These are sample values, there are many\n<a href='http://www.iso.org/iso/country_codes.htm'>more</a>","enum":["AC","AD","AE","AF","AG","AI","AL","AM","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BM","BN","BO","BQ","BR","BS","BT","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CV","CW","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KR","KV","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SE","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","ST","SV","SX","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TP","TR","TT","TV","TW","TZ","UA","UG","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","ZA","ZM","ZW"],"format":"iso-country-code","type":"string"},"postalCode":{"description":"Postal or zip code","format":"postal-code","type":"string"},"state":{"description":"State or province or territory","format":"state-province-territory","type":"string"}},"required":["address1","city","state","postalCode","country"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Address"},"email":{"format":"email","type":"string"},"fax":{"format":"phone","type":"string"},"jobTitle":{"type":"string"},"nameFirst":{"format":"person-name","type":"string"},"nameLast":{"format":"person-name","type":"string"},"nameMiddle":{"type":"string"},"organization":{"format":"organization-name","type":"string"},"phone":{"format":"phone","type":"string"}},"required":["nameFirst","nameLast","email","phone","addressMailing"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Contact"},"createdAt":{"description":"Date and time when this domain was created","format":"date-time","type":"string"},"deletedAt":{"description":"Date and time when this domain was deleted","format":"date-time","type":"string"},"transferAwayEligibleAt":{"description":"Date and time when this domain is eligible to transfer","format":"date-time","type":"string"},"domain":{"description":"Name of the domain","type":"string"},"domainId":{"description":"Unique identifier for this Domain","format":"double","type":"number"},"expirationProtected":{"description":"Whether or not the domain is protected from expiration","type":"boolean"},"expires":{"description":"Date and time when this domain will expire","format":"date-time","type":"string"},"exposeWhois":{"description":"Whether or not the domain contact details should be shown in the WHOIS","type":"boolean"},"holdRegistrar":{"description":"Whether or not the domain is on-hold by the registrar","type":"boolean"},"locked":{"description":"Whether or not the domain is locked to prevent transfers","type":"boolean"},"nameServers":{"description":"Fully-qualified domain names for DNS servers","items":{"format":"host-name","type":"string"},"type":"array"},"privacy":{"description":"Whether or not the domain has privacy protection","type":"boolean"},"renewAuto":{"description":"Whether or not the domain is configured to automatically renew","type":"boolean"},"renewDeadline":{"description":"Date the domain must renew on","format":"date-time","type":"string"},"renewable":{"description":"Whether or not the domain is eligble for renewal based on status","type":"boolean"},"status":{"description":"Processing status of the domain<br/><ul>\n<li><strong style='margin-left: 12px;'>ACTIVE</strong> - All is well</li>\n<li><strong style='margin-left: 12px;'>AWAITING*</strong> - System is waiting for the end-user to complete an action</li>\n<li><strong style='margin-left: 12px;'>CANCELLED*</strong> - Domain has been cancelled, and may or may not be reclaimable</li>\n<li><strong style='margin-left: 12px;'>CONFISCATED</strong> - Domain has been confiscated, usually for abuse, chargeback, or fraud</li>\n<li><strong style='margin-left: 12px;'>DISABLED*</strong> - Domain has been disabled</li>\n<li><strong style='margin-left: 12px;'>EXCLUDED*</strong> - Domain has been excluded from Firehose registration</li>\n<li><strong style='margin-left: 12px;'>EXPIRED*</strong> - Domain has expired</li>\n<li><strong style='margin-left: 12px;'>FAILED*</strong> - Domain has failed a required action, and the system is no longer retrying</li>\n<li><strong style='margin-left: 12px;'>HELD*</strong> - Domain has been placed on hold, and likely requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>LOCKED*</strong> - Domain has been locked, and likely requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>PARKED*</strong> - Domain has been parked, and likely requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>PENDING*</strong> - Domain is working its way through an automated workflow</li>\n<li><strong style='margin-left: 12px;'>RESERVED*</strong> - Domain is reserved, and likely requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>REVERTED</strong> - Domain has been reverted, and likely requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>SUSPENDED*</strong> - Domain has been suspended, and likely requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>TRANSFERRED*</strong> - Domain has been transferred out</li>\n<li><strong style='margin-left: 12px;'>UNKNOWN</strong> - Domain is in an unknown state</li>\n<li><strong style='margin-left: 12px;'>UNLOCKED*</strong> - Domain has been unlocked, and likely requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>UNPARKED*</strong> - Domain has been unparked, and likely requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>UPDATED*</strong> - Domain ownership has been transferred to another account</li>\n</ul>","type":"string"},"transferProtected":{"description":"Whether or not the domain is protected from transfer","type":"boolean"}},"required":["domainId","domain","status","expirationProtected","holdRegistrar","locked","privacy","renewAuto","renewDeadline","transferProtected","createdAt","contactRegistrant"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/DomainSummary"},"type":"array"}},"400":{"description":"Request was malformed","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"}},"required":["code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Error"}},"401":{"description":"Authentication info not sent or invalid","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"}},"required":["code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Error"}},"403":{"description":"Authenticated user is not allowed access","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"}},"required":["code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Error"}},"422":{"description":"Limit must have a value no greater than 1000","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"}},"required":["code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Error"}},"429":{"description":"Too many requests received within interval","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"},"retryAfterSec":{"description":"Number of seconds to wait before attempting a similar request","format":"integer-positive","type":"integer"}},"required":["retryAfterSec","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/ErrorLimit"}},"500":{"description":"Internal server error","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"}},"required":["code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_domains.json#/definitions/Error"}}},"operationId":"list","summary":"Retrieve a list of Domains for the specified Shopper","__originalOperationId":"list","path":"/v1/domains"},"errorHandling":"Standard","parameters":[{"id":"X-Shopper-Idheader","name":"X-Shopper-Id","in":"header","required":false,"value":"","isActive":false,"type":"str","allowedTypes":["str","json","jsonata","msg","flow","global"],"description":"Shopper ID whose domains are to be retrieved","schema":null,"keys":null},{"id":"statusesquery","name":"statuses","in":"query","required":false,"value":"ACTIVE","isActive":false,"type":"select","allowedTypes":[{"value":"select","label":"Select","options":["ACTIVE","AWAITING_CLAIM_ACK","AWAITING_DOCUMENT_AFTER_TRANSFER","AWAITING_DOCUMENT_AFTER_UPDATE_ACCOUNT","AWAITING_DOCUMENT_UPLOAD","AWAITING_FAILED_TRANSFER_WHOIS_PRIVACY","AWAITING_PAYMENT","AWAITING_RENEWAL_TRANSFER_IN_COMPLETE","AWAITING_TRANSFER_IN_ACK","AWAITING_TRANSFER_IN_AUTH","AWAITING_TRANSFER_IN_AUTO","AWAITING_TRANSFER_IN_WHOIS","AWAITING_TRANSFER_IN_WHOIS_FIX","AWAITING_VERIFICATION_ICANN","AWAITING_VERIFICATION_ICANN_MANUAL","CANCELLED","CANCELLED_HELD","CANCELLED_REDEEMABLE","CANCELLED_TRANSFER","CONFISCATED","DISABLED_SPECIAL","EXCLUDED_INVALID_CLAIM_FIREHOSE","EXPIRED_REASSIGNED","FAILED_BACKORDER_CAPTURE","FAILED_DROP_IMMEDIATE_THEN_ADD","FAILED_PRE_REGISTRATION","FAILED_REDEMPTION","FAILED_REDEMPTION_REPORT","FAILED_REGISTRATION","FAILED_REGISTRATION_FIREHOSE","FAILED_RESTORATION_REDEMPTION_MOCK","FAILED_SETUP","FAILED_TRANSFER_IN","FAILED_TRANSFER_IN_BAD_STATUS","FAILED_TRANSFER_IN_REGISTRY","HELD_COURT_ORDERED","HELD_DISPUTED","HELD_EXPIRATION_PROTECTION","HELD_EXPIRED_REDEMPTION_MOCK","HELD_REGISTRAR_ADD","HELD_REGISTRAR_REMOVE","HELD_SHOPPER","HELD_TEMPORARY","LOCKED_ABUSE","LOCKED_COPYRIGHT","LOCKED_REGISTRY","LOCKED_SUPER","PARKED_AND_HELD","PARKED_EXPIRED","PARKED_VERIFICATION_ICANN","PENDING_ABORT_CANCEL_SETUP","PENDING_AGREEMENT_PRE_REGISTRATION","PENDING_APPLY_RENEWAL_CREDITS","PENDING_BACKORDER_CAPTURE","PENDING_BLOCKED_REGISTRY","PENDING_CANCEL_REGISTRANT_PROFILE","PENDING_COMPLETE_REDEMPTION_WITHOUT_RECEIPT","PENDING_COMPLETE_REGISTRANT_PROFILE","PENDING_COO","PENDING_COO_COMPLETE","PENDING_DNS","PENDING_DNS_ACTIVE","PENDING_DNS_INACTIVE","PENDING_DOCUMENT_VALIDATION","PENDING_DOCUMENT_VERIFICATION","PENDING_DROP_IMMEDIATE","PENDING_DROP_IMMEDIATE_THEN_ADD","PENDING_EPP_CREATE","PENDING_EPP_DELETE","PENDING_EPP_UPDATE","PENDING_ESCALATION_REGISTRY","PENDING_EXPIRATION","PENDING_EXPIRATION_RESPONSE","PENDING_EXPIRATION_SYNC","PENDING_EXPIRED_REASSIGNMENT","PENDING_EXPIRE_AUTO_ADD","PENDING_EXTEND_REGISTRANT_PROFILE","PENDING_FAILED_COO","PENDING_FAILED_EPP_CREATE","PENDING_FAILED_HELD","PENDING_FAILED_PURCHASE_PREMIUM","PENDING_FAILED_RECONCILE_FIREHOSE","PENDING_FAILED_REDEMPTION_WITHOUT_RECEIPT","PENDING_FAILED_RELEASE_PREMIUM","PENDING_FAILED_RENEW_EXPIRATION_PROTECTION","PENDING_FAILED_RESERVE_PREMIUM","PENDING_FAILED_SUBMIT_FIREHOSE","PENDING_FAILED_TRANSFER_ACK_PREMIUM","PENDING_FAILED_TRANSFER_IN_ACK_PREMIUM","PENDING_FAILED_TRANSFER_IN_PREMIUM","PENDING_FAILED_TRANSFER_PREMIUM","PENDING_FAILED_TRANSFER_SUBMIT_PREMIUM","PENDING_FAILED_UNLOCK_PREMIUM","PENDING_FAILED_UPDATE_API","PENDING_FRAUD_VERIFICATION","PENDING_FRAUD_VERIFIED","PENDING_GET_CONTACTS","PENDING_GET_HOSTS","PENDING_GET_NAME_SERVERS","PENDING_GET_STATUS","PENDING_HOLD_ESCROW","PENDING_HOLD_REDEMPTION","PENDING_LOCK_CLIENT_REMOVE","PENDING_LOCK_DATA_QUALITY","PENDING_LOCK_THEN_HOLD_REDEMPTION","PENDING_PARKING_DETERMINATION","PENDING_PARK_INVALID_WHOIS","PENDING_PARK_INVALID_WHOIS_REMOVAL","PENDING_PURCHASE_PREMIUM","PENDING_RECONCILE","PENDING_RECONCILE_FIREHOSE","PENDING_REDEMPTION","PENDING_REDEMPTION_REPORT","PENDING_REDEMPTION_REPORT_COMPLETE","PENDING_REDEMPTION_REPORT_SUBMITTED","PENDING_REDEMPTION_WITHOUT_RECEIPT","PENDING_REDEMPTION_WITHOUT_RECEIPT_MOCK","PENDING_RELEASE_PREMIUM","PENDING_REMOVAL","PENDING_REMOVAL_HELD","PENDING_REMOVAL_PARKED","PENDING_REMOVAL_UNPARK","PENDING_RENEWAL","PENDING_RENEW_EXPIRATION_PROTECTION","PENDING_RENEW_INFINITE","PENDING_RENEW_LOCKED","PENDING_RENEW_WITHOUT_RECEIPT","PENDING_REPORT_REDEMPTION_WITHOUT_RECEIPT","PENDING_RESERVE_PREMIUM","PENDING_RESET_VERIFICATION_ICANN","PENDING_RESPONSE_FIREHOSE","PENDING_RESTORATION","PENDING_RESTORATION_INACTIVE","PENDING_RESTORATION_REDEMPTION_MOCK","PENDING_RETRY_EPP_CREATE","PENDING_RETRY_HELD","PENDING_SEND_AUTH_CODE","PENDING_SETUP","PENDING_SETUP_ABANDON","PENDING_SETUP_AGREEMENT_LANDRUSH","PENDING_SETUP_AGREEMENT_SUNRISE2_A","PENDING_SETUP_AGREEMENT_SUNRISE2_B","PENDING_SETUP_AGREEMENT_SUNRISE2_C","PENDING_SETUP_AUTH","PENDING_SETUP_DNS","PENDING_SETUP_FAILED","PENDING_SETUP_REVIEW","PENDING_SETUP_SUNRISE","PENDING_SETUP_SUNRISE_PRE","PENDING_SETUP_SUNRISE_RESPONSE","PENDING_SUBMIT_FAILURE","PENDING_SUBMIT_FIREHOSE","PENDING_SUBMIT_HOLD_FIREHOSE","PENDING_SUBMIT_HOLD_LANDRUSH","PENDING_SUBMIT_HOLD_SUNRISE","PENDING_SUBMIT_LANDRUSH","PENDING_SUBMIT_RESPONSE_FIREHOSE","PENDING_SUBMIT_RESPONSE_LANDRUSH","PENDING_SUBMIT_RESPONSE_SUNRISE","PENDING_SUBMIT_SUCCESS_FIREHOSE","PENDING_SUBMIT_SUCCESS_LANDRUSH","PENDING_SUBMIT_SUCCESS_SUNRISE","PENDING_SUBMIT_SUNRISE","PENDING_SUBMIT_WAITING_LANDRUSH","PENDING_SUCCESS_PRE_REGISTRATION","PENDING_SUSPENDED_DATA_QUALITY","PENDING_TRANSFER_ACK_PREMIUM","PENDING_TRANSFER_IN","PENDING_TRANSFER_IN_ACK","PENDING_TRANSFER_IN_ACK_PREMIUM","PENDING_TRANSFER_IN_BAD_REGISTRANT","PENDING_TRANSFER_IN_CANCEL","PENDING_TRANSFER_IN_CANCEL_REGISTRY","PENDING_TRANSFER_IN_COMPLETE_ACK","PENDING_TRANSFER_IN_DELETE","PENDING_TRANSFER_IN_LOCK","PENDING_TRANSFER_IN_NACK","PENDING_TRANSFER_IN_NOTIFICATION","PENDING_TRANSFER_IN_PREMIUM","PENDING_TRANSFER_IN_RELEASE","PENDING_TRANSFER_IN_RESPONSE","PENDING_TRANSFER_IN_UNDERAGE","PENDING_TRANSFER_OUT","PENDING_TRANSFER_OUT_ACK","PENDING_TRANSFER_OUT_NACK","PENDING_TRANSFER_OUT_PREMIUM","PENDING_TRANSFER_OUT_UNDERAGE","PENDING_TRANSFER_OUT_VALIDATION","PENDING_TRANSFER_PREMIUM","PENDING_TRANSFER_PREMUIM","PENDING_TRANSFER_SUBMIT_PREMIUM","PENDING_UNLOCK_DATA_QUALITY","PENDING_UNLOCK_PREMIUM","PENDING_UPDATE","PENDING_UPDATED_REGISTRANT_DATA_QUALITY","PENDING_UPDATE_ACCOUNT","PENDING_UPDATE_API","PENDING_UPDATE_API_RESPONSE","PENDING_UPDATE_AUTH","PENDING_UPDATE_CONTACTS","PENDING_UPDATE_CONTACTS_PRIVACY","PENDING_UPDATE_DNS","PENDING_UPDATE_DNS_SECURITY","PENDING_UPDATE_ELIGIBILITY","PENDING_UPDATE_EPP_CONTACTS","PENDING_UPDATE_MEMBERSHIP","PENDING_UPDATE_OWNERSHIP","PENDING_UPDATE_OWNERSHIP_AUTH_AUCTION","PENDING_UPDATE_OWNERSHIP_HELD","PENDING_UPDATE_REGISTRANT","PENDING_UPDATE_REPO","PENDING_VALIDATION_DATA_QUALITY","PENDING_VERIFICATION_FRAUD","PENDING_VERIFICATION_STATUS","PENDING_VERIFY_REGISTRANT_DATA_QUALITY","RESERVED","RESERVED_PREMIUM","REVERTED","SUSPENDED_VERIFICATION_ICANN","TRANSFERRED_OUT","UNLOCKED_ABUSE","UNLOCKED_SUPER","UNPARKED_AND_UNHELD","UPDATED_OWNERSHIP","UPDATED_OWNERSHIP_HELD"]},"str","msg","flow","global"],"description":"Only include results with `status` value in the specified set","schema":null,"keys":null},{"id":"statusGroupsquery","name":"statusGroups","in":"query","required":false,"value":"INACTIVE","isActive":false,"type":"select","allowedTypes":[{"value":"select","label":"Select","options":["INACTIVE","PRE_REGISTRATION","REDEMPTION","RENEWABLE","VERIFICATION_ICANN","VISIBLE"]},"str","msg","flow","global"],"description":"Only include results with `status` value in any of the specified groups","schema":null,"keys":null},{"id":"limitquery","name":"limit","in":"query","required":false,"value":"","isActive":false,"type":"num","allowedTypes":["num","jsonata","msg","flow","global"],"description":"Maximum number of domains to return","schema":null,"keys":null},{"id":"markerquery","name":"marker","in":"query","required":false,"value":"","isActive":false,"type":"str","allowedTypes":["str","json","jsonata","msg","flow","global"],"description":"Marker Domain to use as the offset in results","schema":null,"keys":null},{"id":"includesquery","name":"includes","in":"query","required":false,"value":"authCode","isActive":false,"type":"select","allowedTypes":[{"value":"select","label":"Select","options":["authCode","contacts","nameServers"]},"str","msg","flow","global"],"description":"Optional details to be included in the response","schema":null,"keys":null},{"id":"modifiedDatequery","name":"modifiedDate","in":"query","required":false,"value":"","isActive":false,"type":"str","allowedTypes":["str","json","jsonata","msg","flow","global"],"description":"Only include results that have been modified since the specified date","schema":null,"keys":null}],"contentType":"application/json","outputs":1,"x":490,"y":200,"wires":[["3c5b57e88d6b0052"]]},{"id":"3c5b57e88d6b0052","type":"godaddy","z":"764e6ade7c4e2508","name":"","container":"","environment":"Operational Test and Evaluation","openApiUrl":"https://developer.godaddy.com/swagger/swagger_domains.json","propagate":false,"api":"v1","operation":"list","operationData":{"tags":["v1"],"consumes":["application/json","application/xml","text/xml"],"produces":["application/json","application/javascript","application/xml","text/javascript","text/xml"],"parameters":[{"description":"Shopper ID to return subscriptions for when not using JWT","in":"header","name":"X-Shopper-Id","required":false,"type":"string"},{"default":"en-US","description":"The market that the response should be formatted for","in":"header","name":"X-Market-Id","required":false,"type":"string"},{"description":"Only return Subscriptions with the specified product groups","in":"query","items":{"type":"string"},"name":"productGroupKeys","required":false,"type":"array"},{"description":"Optional details to be included in the response","enum":["addons","relations"],"in":"query","items":{"type":"string"},"name":"includes","required":false,"type":"array"},{"default":0,"description":"Number of Subscriptions to skip before starting to return paged results (must be a multiple of the limit)","in":"query","name":"offset","required":false,"type":"integer"},{"default":25,"description":"Number of Subscriptions to retrieve in this page, starting after offset","in":"query","maximum":2000,"minimum":1,"name":"limit","required":false,"type":"integer"},{"default":"-expiresAt","description":"Property name that will be used to sort results. \"-\" indicates descending","enum":["expiresAt","-expiresAt"],"in":"query","name":"sort","required":false,"type":"string"}],"responses":{"200":{"description":"Request was successful","schema":{"properties":{"pagination":{"properties":{"first":{"description":"URI to access the first page","type":"string"},"last":{"description":"URI to access the last page","type":"string"},"next":{"description":"URI to access the next page","type":"string"},"previous":{"description":"URI to access the previous page","type":"string"},"total":{"description":"Number of records available","type":"integer"}},"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/Pagination"},"subscriptions":{"description":"A collection of subscriptions","items":{"properties":{"addons":{"description":"An array of additional products that have been purchased to augment this Subscription","items":{"properties":{"commitment":{"description":"The financial commitment the customer has in the product","enum":["PAID","FREE","TRIAL"],"type":"string"},"pfid":{"description":"Unique identifier of the add-in product","type":"integer"},"quantity":{"type":"integer"}},"required":["pfid","commitment","quantity"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/SubscriptionAddon"},"type":"array"},"billing":{"properties":{"commitment":{"description":"The financial commitment the customer has in the product","enum":["PAID","FREE","TRIAL"],"type":"string"},"pastDueTypes":{"description":"The types of charges that are past due when `status` is PAST_DUE","items":{"enum":["ADDON","BURST","SUBSCRIPTION"],"type":"string"},"type":"array"},"renewAt":{"description":"The point in time after which the Subscription will bill for automatic renewal","format":"iso-datetime","type":"string"},"status":{"description":"Whether payments are past due","enum":["CURRENT","PAST_DUE"],"type":"string"}},"required":["renewAt","status","commitment"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/SubscriptionBilling"},"cancelable":{"description":"Whether or not the Subscription is allowed to be canceled","type":"boolean"},"createdAt":{"description":"When the Subscription was created","format":"iso-datetime","type":"string"},"expiresAt":{"description":"When the Subscription will expire","format":"iso-datetime","type":"string"},"label":{"description":"A human readable description of this Subscription","type":"string"},"launchUrl":{"description":"The url to use or manage this Subscription's active product","format":"url","type":"string"},"paymentProfileId":{"description":"Unique identifier of the payment profile that will be used to automatically renew this Subscription","type":"integer"},"priceLocked":{"description":"Whether the renewal price will be based from the list price or a locked-in price for this shopper","type":"boolean"},"product":{"properties":{"label":{"description":"A human readable description of the Product that is subscribed","type":"string"},"namespace":{"description":"Grouping of related Subscriptions","type":"string"},"pfid":{"description":"Unique identifier of the Product that is subscribed","type":"integer"},"productGroupKey":{"description":"Primary key of a grouping of related Subscriptions","type":"string"},"renewalPeriod":{"description":"The number of `renewalPeriodUnits` that will be added by the `renewalPfid`","type":"integer"},"renewalPeriodUnit":{"description":"The unit of time that `renewalPeriod` is measured in","enum":["MONTH","QUARTER","SEMI_ANNUAL","YEAR"],"type":"string"},"renewalPfid":{"description":"Unique identifier of the renewal Product","type":"integer"},"supportBillOn":{"description":"Whether the product supports the `billOn` option on the renewal endpoint","type":"boolean"}},"required":["pfid","label","renewalPfid","renewalPeriod","renewalPeriodUnit","productGroupKey","supportBillOn","namespace"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/SubscriptionProduct"},"relations":{"properties":{"children":{"description":"A set of related Subscriptions that will be canceled automatically if this Subscription is canceled","items":{"type":"string"},"type":"array"},"parent":{"description":"Unique identifier of this Subscription's parent","type":"string"}},"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/SubscriptionRelations"},"renewAuto":{"description":"Whether or not the Subscription is set to be automatically renewed via the billing agent","type":"boolean"},"renewable":{"description":"Whether or not the Subscription is allowed to be renewed","type":"boolean"},"status":{"description":"Whether the Subscription is active or the specific non-active state","enum":["ACTIVE","PENDING","CANCELED"],"type":"string"},"subscriptionId":{"description":"Unique identifier of the Subscription","type":"string"},"upgradeable":{"description":"Whether or not the Subscription is allowed to be upgraded","type":"boolean"}},"required":["subscriptionId","status","product","createdAt","billing","renewable","upgradeable","priceLocked","renewAuto"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/Subscription"},"type":"array"}},"required":["subscriptions","pagination"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/SubscriptionList"}},"400":{"description":"Request was malformed","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"}},"required":["code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/Error"}},"401":{"description":"Authentication info not sent or invalid","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"}},"required":["code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/Error"}},"403":{"description":"Authenticated user is not allowed access","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"}},"required":["code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/Error"}},"422":{"description":"Invalid query parameter (custom message returned for each parameter)","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"}},"required":["code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/Error"}},"429":{"description":"Too many requests received within interval","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"},"retryAfterSec":{"description":"Number of seconds to wait before attempting a similar request","format":"integer-positive","type":"integer"}},"required":["retryAfterSec","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/ErrorLimit"}},"500":{"description":"Internal server error","schema":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"fields":{"description":"List of the specific fields, and the errors found with their contents","items":{"properties":{"code":{"description":"Short identifier for the error, suitable for indicating the specific error within client code","format":"constant","type":"string"},"message":{"description":"Human-readable, English description of the problem with the contents of the field","type":"string"},"path":{"description":"<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>","format":"json-path","type":"string"},"pathRelated":{"description":"JSONPath referring to a field containing an error, which is referenced by `path`","format":"json-path","type":"string"}},"required":["path","code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/ErrorField"},"type":"array"},"message":{"description":"Human-readable, English description of the error","type":"string"}},"required":["code"],"$$ref":"https://developer.godaddy.com/swagger/swagger_subscriptions.json#/definitions/Error"}}},"operationId":"list","summary":"Retrieve a list of Subscriptions for the specified Shopper","__originalOperationId":"list","path":"/v1/subscriptions"},"errorHandling":"Standard","parameters":[{"id":"X-Shopper-Idheader","name":"X-Shopper-Id","in":"header","required":false,"value":"","isActive":false,"type":"str","allowedTypes":["str","json","jsonata","msg","flow","global"],"description":"Shopper ID to return subscriptions for when not using JWT","schema":null,"keys":null},{"id":"X-Market-Idheader","name":"X-Market-Id","in":"header","required":false,"value":"","isActive":false,"type":"str","allowedTypes":["str","json","jsonata","msg","flow","global"],"description":"The market that the response should be formatted for","schema":null,"keys":null},{"id":"productGroupKeysquery","name":"productGroupKeys","in":"query","required":false,"value":"","isActive":false,"type":"str","allowedTypes":["str","json","jsonata","msg","flow","global"],"description":"Only return Subscriptions with the specified product groups","schema":null,"keys":null},{"id":"includesquery","name":"includes","in":"query","required":false,"value":"","isActive":false,"type":"str","allowedTypes":["str","json","jsonata","msg","flow","global"],"description":"Optional details to be included in the response","schema":null,"keys":null},{"id":"offsetquery","name":"offset","in":"query","required":false,"value":"","isActive":false,"type":"num","allowedTypes":["num","jsonata","msg","flow","global"],"description":"Number of Subscriptions to skip before starting to return paged results (must be a multiple of the limit)","schema":null,"keys":null},{"id":"limitquery","name":"limit","in":"query","required":false,"value":"","isActive":false,"type":"num","allowedTypes":["num","jsonata","msg","flow","global"],"description":"Number of Subscriptions to retrieve in this page, starting after offset","schema":null,"keys":null},{"id":"sortquery","name":"sort","in":"query","required":false,"value":"","isActive":false,"type":"str","allowedTypes":["str","json","jsonata","msg","flow","global"],"description":"Property name that will be used to sort results. \"-\" indicates descending","schema":null,"keys":null}],"contentType":"application/json","outputs":1,"x":650,"y":200,"wires":[["81a67a61ac8d2888"]]},{"id":"81a67a61ac8d2888","type":"debug","z":"764e6ade7c4e2508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":200,"wires":[]}]